# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
.sw*

#a100 server
*.out

#for model
*.bin
*.safetensors

#singularity
*.sif

